
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
}

/*=========================================
------------- head style-------------------
===========================================  */
.container{
    display: flex;
    background-color: rgb(18, 6, 117);
    padding: 100px 0px;
   
}


.head-details{
width: 480px;
font-size: 3em;
   font-weight: 800;
   color: rgb(248, 245, 245);
   margin-left: 80px;


}
.live{
    color: aliceblue;
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 25px;
    border-radius: 3px;
    
}
.live:hover{
    background-image: linear-gradient(blue, white);
    
    box-shadow: 0px 0px 50px skyblue;
    transition:linear 0.1s;
    
    color: #000;
}
 .head-info:hover{
    text-shadow: 0px 0px 25px white;
    transition:   initial .2 ;
   

}
.banner{
    width:556px ;
    height: 438px;
}
/*====================================
----------- players style-------------
=====================================  */
main{ 
    
   
}
.players-container{
    
   display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 50px;

    
}
.players{
    
    display:grid;
    grid-template-columns:  repeat(3, 1fr);
    
}
.player{
    
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 1px gray;
    margin: 20px;
   border-radius: 5px;
   text-align: justify;
}
.player:hover{
    box-shadow: 1px 1px 4px gray;
}

.player-img img{
    height: 246px;
    width: 300px;
}
/*------------------------------
           footer 
--------------------------------*/

.footer{
    text-align: center;
    
    margin-top: 50px;
}
.icon-color{
    font-size: 2em;
    color: rgb(7, 6, 6);
}
.copy-right{
    font-size: 20px;
}



/* --------------------------
      video part
-----------------------------      */
#main-youtube{
    background-color: rgb(161, 214, 214);
}
.youtube{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    margin-bottom: 99px;
   
}
.youtube-part{
    display:flex ;
    grid-template-columns: repeat(2, 1fr);
    
}
.video-details{
    
}
.video-details, .info{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: justify;

}
.info{width: 300px;
    margin-left: 80px;
    font-size: 1.4em;
}
/* -------------------------------------------------------------
                           textara
=============
==================================================== */
.text{
    display: flex;
    justify-content: center;
    background-color: rgba(216, 226, 226, 0.192);
    
}
.all-text{
   

    text-align: center;
    width: 800px;
    padding: 50px;
}
.write{
    font-size: 1.5em;
 
}
/*====================================
----------- media quary/--------------
======================================  */


@media only screen and (max-width: 688px){
}




